header,footer{
    padding: 3%; background-color: green;
}
section{
    padding: 1%; background-color: lightblue;
}
.login{ display: flex; justify-content: center; }   
.text{
	padding: 3%; margin: 1%;
}